html,
body {
  height: 100%;
}

html {
  background-color: #666666;
}

html,
body,
#videos iframe {
  margin: 0;
  padding: 0;
}

#videos iframe {
  border: 0;
}

#videos {
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", Helvetica, Verdana, sans-serif;
}

body {
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-size: 2.5em;
}

#not-video {
  padding: 1em;
}

header,
main,
footer {
}

@keyframes arrow-animation {
  0% {
    background-position: 50% 50%;
  }
  10% {
    background-position: 45% 45%;
  }
  20% {
    background-position: 47% 47%;
  }
  30% {
    background-position: 45% 45%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 50% 50%;
  }
}

#videos:empty {
  background-image: url("../image/arrow-north-west.svg");
  background-position: 50% 50%;
  background-size: 25%;
  background-repeat: no-repeat;
  opacity: 0.1;
  animation-name: arrow-animation;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}

#controls button {
  display: block;
}

#controls input {
  background-color: #dddddd;
}

#videos iframe,
#controls input {
  /* TODO: use -prefix-free */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Opera should not need a prefix, but anyways */
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.videoPanelsHorizontal-1 iframe,
#controls.urlInputs-1 input {
  width: 100%;
}

.videoPanelsHorizontal-2 iframe,
#controls.urlInputs-2 input {
  width: 50%;
}

.videoPanelsHorizontal-3 iframe,
#controls.urlInputs-3 input {
  width: 33.33333%;
}

.videoPanelsHorizontal-4 iframe,
#controls.urlInputs-4 input {
  width: 25%;
}

.videoPanelsHorizontal-5 iframe,
#controls.urlInputs-5 input {
  width: 20%;
}

.videoPanelsVertical-1 iframe {
  height: 100%;
}

.videoPanelsVertical-2 iframe {
  height: 50%;
}

.videoPanelsVertical-3 iframe {
  height: 33.33333%;
}

.videoPanelsVertical-4 iframe {
  height: 25%;
}

.videoPanelsVertical-5 iframe {
  height: 20%;
}
